.navbar {
    max-width: 1024px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    position: relative;

    .shop {
        display: flex;
        justify-content: space-between;

        .item {
            padding-right: 15px;
            margin-top: 10px;
        }
    }
    .logo {
        font-size: 20px;
        font-weight: bold;
        padding-top: 5px;
        padding-left: 45px;
    }
    .content {
        display: flex;
        justify-content: space-between;

        .item {
            padding-left: 15px;
            margin-top: 10px;
        }
    }
}