.checkout-page {
    max-width: 1024px;
    padding: 0 25px;

    .container {
        background-image: url(https://images.unsplash.com/photo-1563986768626-956041a8bf9d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1977&q=80);
        height: 350px;
        background-position: center;
        background-size: cover;
        width: 100%;
        align-items: center;
        margin-bottom: 15px;

        .title {
            display: flex;
            justify-content: center;
            align-content: center;
            padding-top: 20px;
            font-size: 50px;
        }
    
    }
}